body nav ul li:nth-child(3) a{
    font-weight: 500;
}

/*--------------------MAIN--------------------*/
main {
    text-align: center;
}

main>section:last-child {
    padding-bottom: 5%; 
}

main section h1 {
    font-family: sans-serif;
    padding-top: 5%;
    margin-top: 10%;
    font-size: 2em;
    color:var(--text-primary);
    font-weight: 400;
   letter-spacing: -2px;
   text-align: center;
   margin-left: 8%;
   margin-bottom: 10%;
}

main section:first-child > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
    align-items: center;
    column-gap: 10%;
}

main section:first-child div h3 {
    text-align: center;
    margin-bottom: 5%;
}

main section:first-child  div h3:after{
    content:'';
    border-bottom: 2px var(--text-secondary) solid;
    display: block;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
}

main section:first-child div img {
    padding:3%;
    width:100%;
    height:100%;
    object-fit: fill;
    border-radius: 70px;

}

main section div p strong{
    color: var(--text-primary);
}

main section section {
    width: 50%;
    margin-left: 35%;
    text-align: left;
}

/*
main section section::before {
    content: "";
    position: absolute;
    left:35%;
    top: 145%;
    bottom: -190%;
    width: 2px;
    opacity: 0.5;
    background: var(--text-tertiary);
}*/

.future {
    border-left: dashed rgba(150, 74, 194, .5) 2px;
    padding-left: 5%;
    padding-bottom: 5%;
}

.present {
    border-left: solid rgba(150, 74, 194, .5) 2px;
    padding-left: 5%;
}


main section article h2 {
    font-size: 1em;
    margin-top: 10%;
    margin-bottom: 0px;
    position: relative;
}
.present div:first-child  article h2  {
    margin-top:0px;
}


main section article h3 {
    margin-top: 1%;
    font-size: .7em;
    color: var(--text-tertiary);
}

main section article h4 {
    font-size: .8em;
    font-weight: normal;
    margin-top: 3%;
}

main section section div div article div p{
    background-color: var(--bg-4);
    width:fit-content;
    padding: 1%;
    border-radius: 10px;
    font-size: .8em;
    font-weight: 500;
}
