/*--------------------GENERAL--------------------*/

:root {
    --text-primary: #ffffff;
    --text-secondary: #dadada;
    --border-CTA: #858585;
    --bg: #0e0e0e;
    --bg-secondary: #1e1f22;
    --bg-tertiary: #131313;
    --bg-4: #3b1272;
    --text-tertiary: rgb(150, 74, 194);
    
}

body {
    font-family: "Montserrat";
    font-weight:200;

    background: linear-gradient(45deg, #470038 0.000%, #2c003d 50.000%, #160020 100.000%);
    color: var(--text-secondary);
    font-size: 1.3rem;
    overflow-x: hidden;
    margin: 0px;
}


/*--------------------NAV BARRE--------------------*/

nav {
    display: grid;
    grid-template-columns: 20% 1fr;
    margin-left: 3%;
    
}

nav p {
    font-weight: normal;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-primary);
    text-align: center;
}

nav ul {
    
    display: flex;
    justify-content: end;
}

nav ul li {
    margin-right: 3%;
    margin-top: 2%;
    list-style-type: none;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 30px;
}

nav span img {
    width: 10vw;
    height:10vh;
}

nav ul li:not(:last-child):hover {
    transform: scale(1.1);
    transition: .1s;
}

nav ul li:not(:hover) {
    transition: .2s;
}

nav ul li:last-child {
    position: relative;
    background-color: var(--bg);
    text-shadow: 0 0 10px #ffffff;
}

nav ul li:last-child:hover{
    text-shadow: 0 0 10px #ffffff7e;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

nav ul li:last-child::after {
    
    content: '';
    position: absolute;
    height:100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgb(95, 0, 204));

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    z-index: -1;

    padding: 4px;
    border-radius: inherit;

    animation: 2s spin cubic-bezier(0,.63,1,.37) infinite;
}

nav ul li:last-child:hover::after {
    
    content: '';
    position: absolute;
    height:100%;
    width: 100%;
    background: rgb(95, 0, 204);

    top: 50%;
    left: 50%;
    translate: -50% -50%;

    z-index: -1;

    padding: 4px;
    border-radius: inherit;
}

@keyframes spin {
    0% {
        --angle: 0deg;
    }
    50% {
        --angle: 180deg;
    }
    100% {
        --angle: 360deg;
    }
    
}


nav ul li a {
    text-decoration: none;
    color: var(--text-secondary);
}



/*--------------------FOOTER--------------------*/


footer {
    /*background-color: var(--bg);*/
    text-align: center;
    padding: 2%;
    font-size: .7em;
}

footer div {
    display: flex;
    justify-content: center;
    gap:5%;
    margin-bottom: 2%;
}

footer div a{
    text-decoration: none;
    color: var(--text-secondary);
}

footer div span {
    width: 50%;
    height: 50%;
    font-size: 1.5em;
}

footer div a:hover {
    transform: scale(1.5);
    color: var(--text-primary);
    transition: .1s;
}

footer div a:not(:hover) {
    transition: .15s;
}